.container {
    padding: 2%;
    position: relative;
    background: #20303B;
    color: white;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 50px;
}
.container.light {
    color: black !important;
    background: white !important;
}
.container.light > .navbar > .navbar-button:hover {
    background: white;
    color: black;
}
.container.light > .navbar > .navbar-button.active {
    background: white;
    color: black;
}

.container.sub {
    width: 45%;
    height: 100%;
    display: inline-block;
}

.container.grid {
    display: grid;
    grid-template-areas: "a b";
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
}