.input, .button, .dropdown {
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 10000px;
    background: #4A5E67;
    color: white;
    display: inline-block;
    margin: 10px;
}
.button, .dropdown {
    cursor: pointer;
}

.input {
    border: none;
    outline: none;
    transition: background-color .25s;
    background-color: #30404B;
}
.input:focus {
    background-color: #20303B;
}