.navbar-button {
    width: fit-content;
    height: 100%;
    transition: all .5s;
    background: #4A5E67;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    font-size: 150%;
}
.navbar-button:hover {
    background: #20303B;
}
.navbar-button.active {
    background: #20303B;
}